.advice 
    .container 
        .bar 
            .bigtitle Have you ever experienced problems in <br>managing a website?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .row
                .col-12.col-lg-4
                    .box__advice 
                        .item__advice 
                            img(src="assets/img/advice1.png", alt="")
                            p Late Response
                            .text Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Sed nec sagittis dolor. Maecenas<br> quam nunc, tincidunt quis facilisis ut.
                .col-12.col-lg-4
                    .box__advice 
                        .item__advice 
                            img(src="assets/img/advice2.png", alt="")
                            p Late Response
                            .text Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Sed nec sagittis dolor. Maecenas<br> quam nunc, tincidunt quis facilisis ut.
                .col-12.col-lg-4
                    .box__advice 
                        .item__advice 
                            img(src="assets/img/advice3.png", alt="")
                            p Late Response
                            .text Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Sed nec sagittis dolor. Maecenas<br> quam nunc, tincidunt quis facilisis ut.