.choice 
    .container 
        .bar 
            h1 Hostingor
            .bigtitle Hostingor From Another World
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor. Maecenas<br> quam nunc, tincidunt quis facilisis ut, faucibus eget 
            .img 
                img(src="assets/img/Images.png", alt="")
            .img2 
                img(src="assets/img/Images2.png", alt="")
            .chekbox 
                .box__p
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 
                .box__p
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 
                    .item 
                        img(src="assets/img/check.png", alt="")
                        p Website Builder 