.footer 
    .container 
        .menu 
            .row 
                .col-12.col-lg-4 
                    .left
                        .top 
                            img(src="assets/img/logo.png", alt="")
                            p Hostingor
                        .text I am text block. Click edit button to change this text. <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Ut elit tellus, luctus nec ullamcorper matti pibus leo.
                        .imgs 
                            img(src="assets/img/footer1.png", alt="")
                            img(src="assets/img/footer2.png", alt="")
                            img(src="assets/img/footer3.png", alt="")
                            img(src="assets/img/footer4.png", alt="")
                            img(src="assets/img/footer5.png", alt="")  
                .col-12.col-lg-5
                    .right
                        .center_box1 
                            .title Get Started
                            ul 
                                li: a(href="") Tutorials
                                li: a(href="") Resources
                                li: a(href="") Guides
                                li: a(href="") Examples
                                li: a(href="") Docs
                        .center_box1 
                            .title About
                            ul 
                                li: a(href="") Stories
                                li: a(href="") Community
                                li: a(href="") Blog
                                li: a(href="") Careers
                                li: a(href="") Brand Assets
                        .center_box1 
                            .title About
                            ul 
                                li: a(href="") Design UI Kit
                                li: a(href="") Brochure UI Kit
                                li: a(href="") Cataloge
                                li: a(href="") Pantone Color
                                li: a(href="") Moodboard