.heel
    .container 
        .menu 
            .title 30 Days Money-Back Guarantee
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor.<br>Maecenas quam nunc, tincidunt quis facilisis ut.
            button Get Started