.install 
    .container 
        .right 
            .bigtitle One-click installs so <br>you can build happy.
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed<br> nec sagittis dolor. Maecenas quam nunc, tincidunt.