.quality
    .container
        .menu 
            .bigtitle So what's in Shared <br>Hosting? A whole lot.
            .row
                .col-12.col-lg-4 
                    .quality__item 
                        .title Starter Package
                        p Blogging Website
                        .num $3/month
                        button BUY  NOW
                .col-12.col-lg-4 
                    .quality__item 
                        .title Starter Package
                        p Blogging Website
                        .num $3/month
                        button BUY  NOW
                .col-12.col-lg-4 
                    .quality__item 
                        .title Starter Package
                        p Blogging Website
                        .num $3/month
                        button BUY  NOW