.quation 
    .container 
        .menu 
            .title Frequently asked questions   
            .qua__box 
                .bottom 
                    ul 
                        li: a(href="") What is web hosting?
                        li: a(href="") How does web hosting work?
                        li: a(href="") What is shared hosting?
                        li: a(href="") What kind of web hosting do I need?
                        li: a(href="") What is cPanel for hosting?