.rise
    .container
        .menu 
            .row 
                .col-12.col-lg-5 
                    .text Level Up your web hosting with these must-have.
                .col-12.col-lg-5 
                    .box__row 
                        .num 
                            .img 
                                img(src="assets/img/rise2.png", alt="")
                            .bottom
                                .title Data Safety
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor.
                .col-12.col-lg-5 
                    .box__row 
                        .num 
                            .img 
                                img(src="assets/img/rise2.png", alt="")
                            .bottom
                                .title Added Security
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor.
                .col-12.col-lg-5 
                    .box__row 
                        .num 
                            .img 
                                img(src="assets/img/rise2.png", alt="")
                            .bottom
                                .title SEO Tools
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor.