.service 
    .container 
        .bar 
            h1 More than +3500 Use Our Services
            .row  
                .col-12.col-lg-4 
                    .box 
                        .item 
                            img(src="assets/img/image 130.png", alt="")
                            p Jacqueline Asong
                            text  Patient
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor. Maecenas quam nunc, tincidunt quis facilisis ut.
                .col-12.col-lg-4 
                    .box 
                        .item 
                            img(src="assets/img/image 131.png", alt="")
                            p Jacqueline Asong
                            text  Patient
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor. Maecenas quam nunc, tincidunt quis facilisis ut.
                .col-12.col-lg-4 
                    .box 
                        .item 
                            img(src="assets/img/image 132.png", alt="")
                            p Jacqueline Asong
                            text  Patient
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sagittis dolor. Maecenas quam nunc, tincidunt quis facilisis ut.
            .row 
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon1.png", alt="")
                            p Company Name
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon2.png", alt="")
                            p Company Name
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon3.png", alt="")
                            p Company Name
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon4.png", alt="")
                            p Company Name
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon5.png", alt="")
                            p Company Name
                .col-12.col-lg-2 
                    .item__2 
                        .box__item 
                            img(src="assets/img/icon6.png", alt="")
                            p Company Name