.quality{
    background-color: $body;
    margin-top:80px;
    .container{

        .menu{
            padding-bottom: 80px;

            .bigtitle{
                font-family: 'mb';
                font-size: 32px;
                color: $text;
                text-align: center;
                padding: 50px;
            }

            .quality__item{
                text-align: center;
                background: #FFFFFF;
                box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
                border-radius: 20px;
                padding: 40px;
                .title{
                    font-family: 's-sb';
                    font-size: 24px;
                    color: $text;
                }

                p{
                    font-family: 's-r';
                    color: $text;
                    font-size: 16px;
                }

                .num{
                    font-family: 's-sb';
                    font-size: 32px;
                    color: $text;
                    margin: 60px;
                }

                button{
                    width: 180px;
                    height: 50px;
                    border-radius: 10px;
                    border-color: #0D2476;
                    background-color: #fff;
                    font-family: 'mb';
                    font-size: 16px;
                }


                &:hover{
                    background: #EF7F3C;
                    color: #fff;
                    border-color: unset;
                }
            }

        }
    }
}