doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="assets/css/style.css")
    body 
        include ../blocks/head.pug
        include ../blocks/service.pug
        include ../blocks/advice.pug
        include ../blocks/choice.pug
        include ../blocks/install.pug
        include ../blocks/rise.pug
        include ../blocks/quality.pug
        include ../blocks/quation.pug
        include ../blocks/heel.pug
        include ../blocks/footer.pug